<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageSearch-SwiftUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ImageSearch-SwiftUIWidgetExtExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3308C3E253D783E00551A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3308C4F253D783F00551A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3308C5A253D784000551A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B0F72F254148C500A55459</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
